<div id="login-background">
    <div id="login-container">
        <h3>Login to your Inter-Knot account</h3>
        <form [formGroup]="loginForm" (submit)="submitLogin()">
            <input type="text" name="uname" placeholder="Enter your Inter-Knot username" formControlName="loginUsername" required>

            <input type="password" placeholder="Enter your password" name="psw" formControlName="loginPassword"  required>
            <button type="submit">Login</button>
        </form>
        <a [routerLink]="['/register']">Don't have an account? Register an account</a> 
    </div>
</div>
