<app-navbar></app-navbar>
<div id="profile-container">
    <p id="profile-header">Your Info</p>
    <div id="profile-summary">
        <div id="profile-details">
            <label>
                <img src="user.png" alt="profile-avatar">
                <input type="file" name="avatar-selector">
            </label>
            <p id="profile-displayname">{{displayName}}</p>
            <div id="profile-edit-container">
                <button id="edit-profile-button">
                    <img src="pencil.png" alt="pencil icon">
                </button>
                <p>{{username}}</p>
            </div>
        </div>
        <div id="profile-bio">
            <p>asdnasldnasldnaskldnasklnasdsakljdaskldaskljdasdaksldjsakldjaskldjaskldjaksj</p>
        </div>
    </div>
</div>
