#dashboard-container {
    padding: 10px 90px 10px 90px;
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    grid-auto-rows: 10px;
    justify-content: center;
    background-color: green;
}

.card-large {
    background-color: red;
    border-radius: 10px;
    border-width: 50px;
    margin: 5px;
    grid-row-end: span 55;
}

.card-medium {
    background-color: red;
    border-radius: 10px;
    border-width: 50px;
    margin: 5px;
    grid-row-end: span 33;
}

.card-small {
    background-color: red;
    border-radius: 10px;
    border-width: 50px;
    margin: 5px;
    grid-row-end: span 20;
}

#post-filter {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 20px;
    right: 90px;
    padding: 15px;
    background-color: blue;
    color: white;
    width: auto;
    height: 70px;
    border-radius: 45px;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
}

#create-post-button {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 20px;
    left: 90px;
    padding: 15px;
    background-color: blue;
    color: white;
    width: auto;
    height: 70px;
    border-radius: 45px;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
}

.post-filter-dropdown {
    display: none;
}

.post-filter-dropdown.is-active {
    display: block;
    position: fixed;
    bottom: 50px;
    right: 10px;
    background-color: white;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.post-filter-dropdown a {
    color: black;
    padding: 16px;
    text-decoration: none;
    display: block;
}