#dashboard-container {
    padding: 10px 90px 10px 90px;
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    grid-auto-rows: 10px;
    justify-content: center;
    background: rgb(20,20,20);
    min-height: 100vh;
}

.card:nth-child(odd) {
    margin: 5px;
    grid-row-end: span 40;
}

.card:nth-child(even) {
    margin: 5px;
    grid-row-end: span 35;
}

.card-large {
    background-color: red;
    border-radius: 10px;
    border-width: 50px;
    margin: 5px;
    grid-row-end: span 55;
}

.card-medium {
    background-color: red;
    border-radius: 10px;
    border-width: 50px;
    margin: 5px;
    grid-row-end: span 33;
}

.card-small {
    background-color: red;
    border-radius: 10px;
    border-width: 50px;
    margin: 5px;
    grid-row-end: span 20;
}


#create-post-button {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 20px;
    left: 90px;
    padding: 15px;
    background-color: black;
    color: white;
    width: auto;
    height: 70px;
    border-radius: 45px;
    border-color: gray;
    border-style: solid;
    border-width: 5px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: -1px;
    cursor: pointer;
}


/* CREATE POST*/
#create-post-background {
    display: none;
}

#create-post-background.is-active {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0,0,0,0.7); /* Black background with opacity */
}

#create-post-container {
    background-color: black;
    max-width: 60%;
    min-width: 60%;
    height: auto;
    margin: auto;
    padding: 15px;
    border-radius: 26px;
}

#close-create-post-button {
    height: 55px;
    width: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: red;
    border-radius: 26px;
    border: none;
    margin-left: auto;
    cursor: pointer;
    margin-top: auto;
    margin-bottom: auto;
}

#close-create-post-button > img {
    height: 50%;
    width: 50%;
}

#post-form {
    display: flex;
    flex-direction: column;
}

#image-upload-container {
    width: 200px;
    height: 200px;
    border-radius: 26px;
    border-color: gray;
    border-style: solid;
    border-width: 3px;
    margin-bottom: 3px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#post-form img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#post-form input[type="file"] {
    display: none;
}

.post-filter-radio {
    color: white;
    font-weight: bold;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: -1px;
    margin-bottom: 3px;
}

#post-form > input, textarea {
    margin-bottom: 5px;
}

#ptitle {
    height: 30px;
    border-radius: 26px;
    text-indent: 10px;
    border: none;
    background: rgb(20,20,20);
    color: white;
    font-size: 22px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: -1px;
}

#ptitle::placeholder {
    color: gray;
    font-weight: bold;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: -1px;
}

#ptext {
    height: 90px;
    border-radius: 15px;
    border: none;
    background: rgb(20,20,20);
    color: white;
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 10px 10px 10px;
    word-wrap: break-word;
}

#ptext::placeholder {
    color: gray;
    font-weight: bold;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: -1px;
    text-indent: 10px;
}

#post-form > p {
    color: white;
    font-weight: bold;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: -1px;
}

#post-form > button {
    height: auto;
    border-radius: 26px;
    border-width: 5px;
    border-color: gray;
    border-style: solid;
    color: white;
    font-weight: bold;
    font-style: italic;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: -1px;
    background: rgb(20,20,20);
    padding: 5px;
    cursor: pointer;
}

@media screen and (max-width: 678px) {
    #dashboard-container {
        grid-template-columns: repeat(auto-fill, 100%);
        padding: 5px;
    }

    .card:nth-child(odd) {
        grid-row-end: span 80;
    }
    
    .card:nth-child(even) {
        grid-row-end: span 45;
    }

    #create-post-button {
        left: 15px;
    }

    #create-post-container {
        max-width: 95%;
        min-width: 95%;
    }
}